# Package requirements & imports

In [5]:
import pandas as pd
import numpy as np 
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics.pairwise import *

# Data import

In [7]:
csv_file_path = './data/Telecom_data.csv'
df = pd.read_csv(csv_file_path)
df.head(10)

,Customer ID,Month,Month of Joining,zip_code,Gender,Age,Married,Dependents,Number of Dependents,Location ID,...,Streaming Movies,Streaming Music,Unlimited Data,Payment Method,Status ID,Satisfaction Score,Churn Category,Churn Reason,Customer Status,Churn Value
0,hthjctifkiudi0,1,1,71638,Female,36.000000,No,No,0.0,jeavwsrtakgq0,...,Yes,Yes,Yes,Credit Card,vvhwtmkbxtvsppd52013,3,Competitor,Competitor offered higher download speeds,Churned,1
1,uqdtniwvxqzeu1,6,6,72566,Male,36.472065,No,No,0.0,qcvetdmalnkw1,...,No,No,No,Bank Withdrawal,jucxaluihiluj82863,4,Not Applicable,Not Applicable,Stayed,0
2,uqdtniwvxqzeu1,7,6,72566,Male,36.442687,No,No,0.0,qcvetdmalnkw1,...,No,No,Yes,Credit Card,vjskkxphumfai57182,3,Not Applicable,Not Applicable,Stayed,0
3,uqdtniwvxqzeu1,8,6,72566,Male,36.837888,No,No,0.0,qcvetdmalnkw1,...,No,No,Yes,Wallet Balance,cdwbcrvylqca53109,4,Not Applicable,Not Applicable,Stayed,0
4,uqdtniwvxqzeu1,9,6,72566,Male,36.490214,No,No,0.0,qcvetdmalnkw1,...,Yes,No,Yes,Credit Card,whqrmeulitfj98550,1,Not Applicable,Not Applicable,Stayed,0
5,uqdtniwvxqzeu1,10,6,72566,Male,36.420839,No,No,0.0,qcvetdmalnkw1,...,Yes,Yes,NaN,Bank Withdrawal,adzabvpghmbju72072,4,Not Applicable,Not Applicable,Stayed,0
6,uqdtniwvxqzeu1,11,6,72566,Male,36.566777,No,No,0.0,qcvetdmalnkw1,...,No,No,No,Bank Withdrawal,xjnuhhfmfgtd73026,4,Not Applicable,Not Applicable,Stayed,0
7,uqdtniwvxqzeu1,12,6,72566,Male,36.493271,No,No,0.0,qcvetdmalnkw1,...,No,No,Yes,Bank Withdrawal,igrkenxzyvdw27549,3,Not Applicable,Not Applicable,Stayed,0
8,uqdtniwvxqzeu1,13,6,72566,Male,36.480878,No,No,0.0,qcvetdmalnkw1,...,No,No,Yes,Bank Withdrawal,srrfeoupvdnwy37904,3,Not Applicable,Not Applicable,Stayed,0
9,uqdtniwvxqzeu1,14,6,72566,Male,36.276942,No,No,0.0,qcvetdmalnkw1,...,No,No,No,Credit Card,inebwpymzwpup39698,4,Not Applicable,Not Applicable,Stayed,0

# **Exploratory Data Analysis**

## **Data Exploration**

Data exploration is a critical step in the data analysis process. Data exploration is important because it helps to provide a solid foundation for subsequent data analysis tasks, hypothesis testing and data visualization.

Data exploration is also important because it can help you to identify an appropriate approach for analyzing the data.

Here are the various functions that help us explore and understand the data.

* Shape: Shape is used to identify the dimensions of the dataset. It gives the number of rows and columns present in the dataset. Knowing the dimensions of the dataset is important to understand the amount of data available for analysis and to determine the feasibility of different methods of analysis.

* Head: The head function is used to display the top five rows of the dataset. It helps us to understand the structure and organization of the dataset. This function gives an idea of what data is present in the dataset, what the column headers are, and how the data is organized.

* Tail: The tail function is used to display the bottom five rows of the dataset. It provides the same information as the head function but for the bottom rows. The tail function is particularly useful when dealing with large datasets, as it can be time-consuming to scroll through all the rows.

* Describe: The describe function provides a summary of the numerical columns in the dataset. It includes the count, mean, standard deviation, minimum, and maximum values, as well as the quartiles. It helps to understand the distribution of the data, the presence of any outliers, and potential issues that can affect the model's accuracy.

* Isnull: The isnull function is used to identify missing values in the dataset. It returns a Boolean value for each cell, indicating whether it is null or not. This function is useful to identify the presence of missing data, which can be problematic for regression analysis.

* Dropna: The dropna function is used to remove rows or columns with missing data. It is used to remove any observations or variables with missing data, which can lead to biased results in the regression analysis. The dropna function is used after identifying the missing data with the isnull function.

* Columns: The .columns method is a built-in function that is used to display the column names of a pandas DataFrame or Series. It returns an array-like object that contains the names of the columns in the order in which they appear in the original DataFrame or Series. It can be used to obtain a quick overview of the variables in a dataset and their names.

In [8]:
df.shape

(653753, 74)

In [9]:
df.columns

Index(['Customer ID', 'Month', 'Month of Joining', 'zip_code', 'Gender', 'Age',
       'Married', 'Dependents', 'Number of Dependents', 'Location ID',
       'Service ID', 'state', 'county', 'timezone', 'area_codes', 'country',
       'latitude', 'longitude', 'roam_ic', 'roam_og', 'loc_og_t2t',
       'loc_og_t2m', 'loc_og_t2f', 'loc_og_t2c', 'std_og_t2t', 'std_og_t2m',
       'std_og_t2f', 'std_og_t2c', 'isd_og', 'spl_og', 'og_others',
       'loc_ic_t2t', 'loc_ic_t2m', 'loc_ic_t2f', 'std_ic_t2t', 'std_ic_t2m',
       'std_ic_t2f', 'std_ic_t2o', 'spl_ic', 'isd_ic', 'ic_others',
       'total_rech_amt', 'total_rech_data', 'vol_4g', 'vol_5g', 'arpu_5g',
       'arpu_4g', 'arpu', 'night_pck_user', 'fb_user', 'aug_vbc_5g', 'offer',
       'Referred a Friend', 'Number of Referrals', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Internet Type',
       'Streaming Data Consumption', 'Online Security', 'Online Backup',
       'Device Protection Plan', 'Premium Tech Support', 'Streaming TV',
       'Streaming Movies', 'Streaming Music', 'Unlimited Data',
       'Payment Method', 'Status ID', 'Satisfaction Score', 'Churn Category',
       'Churn Reason', 'Customer Status', 'Churn Value'],
      dtype='object')

## **Data Dictionary**



| Column name	 | Description|
| ----- | ----- |
| Customer ID	 | Unique identifier for each customer |
| Month | Calendar Month- 1:12 | 
| Month of Joining |	Calender Month -1:14, Month for which the data is captured|
| zip_code |	Zip Code|
|Gender |	Gender|
| Age |	Age(Years)|
| Married |	Marital Status |
|Dependents | Dependents - Binary |
| Number of Dependents |	Number of Dependents|
|Location ID |	Location ID|
|Service ID	 |Service ID|
|state|	State|
|county	|County|
|timezone	|Timezone|
|area_codes|	Area Code|
|country	|Country|
|latitude|	Latitude|
|longitude	|Longitude|
|arpu|	Average revenue per user|
|roam_ic	|Roaming incoming calls in minutes|
|roam_og	|Roaming outgoing calls in minutes|
|loc_og_t2t|	Local outgoing calls within same network in minutes|
|loc_og_t2m	|Local outgoing calls outside network in minutes(outside same + partner network)|
|loc_og_t2f|	Local outgoing calls with Partner network in minutes|
|loc_og_t2c	|Local outgoing calls with Call Center in minutes|
|std_og_t2t|	STD outgoing calls within same network in minutes|
|std_og_t2m|	STD outgoing calls outside network in minutes(outside same + partner network)|
|std_og_t2f|	STD outgoing calls with Partner network in minutes|
|std_og_t2c	|STD outgoing calls with Call Center in minutes|
|isd_og|	ISD Outgoing calls|
|spl_og	|Special Outgoing calls|
|og_others|	Other Outgoing Calls|
|loc_ic_t2t|	Local incoming calls within same network in minutes|
|loc_ic_t2m|	Local incoming calls outside network in minutes(outside same + partner network)|
|loc_ic_t2f	|Local incoming calls with Partner network in minutes|
|std_ic_t2t	|STD incoming calls within same network in minutes|
|std_ic_t2m	|STD incoming calls outside network in minutes(outside same + partner network)|
|std_ic_t2f|	STD incoming calls with Partner network in minutes|
|std_ic_t2o|	STD incoming calls operators other networks in minutes|
|spl_ic|	Special Incoming calls in minutes|
|isd_ic|	ISD Incoming calls in minutes|
|ic_others|	Other Incoming Calls|
|total_rech_amt|	Total Recharge Amount in Local Currency|
|total_rech_data|	Total Recharge Amount for Data in Local Currency
|vol_4g|	4G Internet Used in GB|
|vol_5g|	5G Internet used in GB|
|arpu_5g|	Average revenue per user over 5G network|
|arpu_4g|	Average revenue per user over 4G network|
|night_pck_user|	Is Night Pack User(Specific Scheme)|
|fb_user|	Social Networking scheme|
|aug_vbc_5g|	Volume Based cost for 5G network (outside the scheme paid based on extra usage)|
|offer|	Offer Given to User|
|Referred a Friend|	Referred a Friend : Binary|
|Number of Referrals|	Number of Referrals|
|Phone Service|	Phone Service: Binary|
|Multiple Lines|	Multiple Lines for phone service: Binary|
|Internet Service|	Internet Service: Binary|
|Internet Type|	Internet Type|
|Streaming Data Consumption|	Streaming Data Consumption|
|Online Security|	Online Security|
|Online Backup|	Online Backup|
|Device Protection Plan|	Device Protection Plan|
|Premium Tech Support|	Premium Tech Support|
|Streaming TV|	Streaming TV|
|Streaming Movies|	Streaming Movies|
|Streaming Music|	Streaming Music|
|Unlimited Data|	Unlimited Data|
|Payment Method|	Payment Method|
|Status ID|	Status ID|
|Satisfaction Score|	Satisfaction Score|
|Churn Category|	Churn Category|
|Churn Reason|	Churn Reason|
|Customer Status|	Customer Status|
|Churn Value|	Binary Churn Value

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 653753 entries, 0 to 653752
Data columns (total 74 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Customer ID                 653753 non-null  object
 1   Month                       653753 non-null  int64
 2   Month of Joining            653753 non-null  int64
 3   zip_code                    653753 non-null  int64
 4   Gender                      653753 non-null  object
 5   Age                         653753 non-null  float64
 6   Married                     653753 non-null  object
 7   Dependents                  653753 non-null  object
 8   Number of Dependents        653753 non-null  float64
 9   Location ID                 653753 non-null  object
 10  Service ID                  653753 non-null  object
 11  state                       653753 non-null  object
 12  county                      653753 non-null  object
 13  timezone                    653753 non-null  object
 14  area_codes                  653753 non-null  object
 15  country                     653753 non-null  object
 16  latitude                    653753 non-null  float64
 17  longitude                   653753 non-null  float64
 18  roam_ic                     653753 non-null  float64
 19  roam_og                     653753 non-null  float64
 20  loc_og_t2t                  653753 non-null  float64
 21  loc_og_t2m                  653753 non-null  float64
 22  loc_og_t2f                  653753 non-null  float64
 23  loc_og_t2c                  653753 non-null  float64
 24  std_og_t2t                  653753 non-null  float64
 25  std_og_t2m                  653753 non-null  float64
 26  std_og_t2f                  653753 non-null  float64
 27  std_og_t2c                  653753 non-null  int64
 28  isd_og                      653753 non-null  float64
 29  spl_og                      653753 non-null  float64
 30  og_others                   653753 non-null  float64
 31  loc_ic_t2t                  653753 non-null  float64
 32  loc_ic_t2m                  653753 non-null  float64
 33  loc_ic_t2f                  653753 non-null  float64
 34  std_ic_t2t                  653753 non-null  float64
 35  std_ic_t2m                  653753 non-null  float64
 36  std_ic_t2f                  653753 non-null  float64
 37  std_ic_t2o                  653753 non-null  int64
 38  spl_ic                      653753 non-null  float64
 39  isd_ic                      653753 non-null  float64
 40  ic_others                   653753 non-null  float64
 41  total_rech_amt              653753 non-null  int64
 42  total_rech_data             443849 non-null  float64
 43  vol_4g                      653753 non-null  float64
 44  vol_5g                      653753 non-null  float64
 45  arpu_5g                     653753 non-null  object
 46  arpu_4g                     653753 non-null  object
 47  arpu                        653753 non-null  float64
 48  night_pck_user              280650 non-null  float64
 49  fb_user                     243359 non-null  float64
 50  aug_vbc_5g                  653753 non-null  float64
 51  offer                       653753 non-null  object
 52  Referred a Friend           653753 non-null  object
 53  Number of Referrals         653753 non-null  float64
 54  Phone Service               653753 non-null  object
 55  Multiple Lines              607673 non-null  object
 56  Internet Service            653753 non-null  object
 57  Internet Type               328503 non-null  object
 58  Streaming Data Consumption  653753 non-null  int64
 59  Online Security             653753 non-null  object
 60  Online Backup               653753 non-null  object
 61  Device Protection Plan      653753 non-null  object
 62  Premium Tech Support        653753 non-null  object
 63  Streaming TV                653753 non-null  object
 64  Streaming Movies            653753 non-null  object
 65  Streaming Music             653753 non-null  object
 66  Unlimited Data              642650 non-null  object
 67  Payment Method              653753 non-null  object
 68  Status ID                   653753 non-null  object
 69  Satisfaction Score          653753 non-null  int64
 70  Churn Category              653753 non-null  object
 71  Churn Reason                653753 non-null  object
 72  Customer Status             653753 non-null  object
 73  Churn Value                 653753 non-null  int64
dtypes: float64(33), int64(9), object(32)
memory usage: 369.1+ MB

In [11]:
df["arpu_4g"].unique()

array(['Not Applicable', '0', '106.3', ..., '2573.06', '1092.62',
       '1847.93'], dtype=object)

In [12]:
df["arpu_4g"].unique()

array(['Not Applicable', '0', '106.3', ..., '2573.06', '1092.62',
       '1847.93'], dtype=object)

In [13]:
df['offer'].unique()

array(['A', 'F', 'No Offer', 'J', 'E', 'C', 'I', 'B', 'D', 'H', 'G'],
      dtype=object)

In [14]:
# Taking a look at the offer distribution
dfg = df.groupby('offer').agg({'Customer ID':'count'}).reset_index()
dfg['% Total'] = dfg['Customer ID']/dfg['Customer ID'].sum() #this creates a % of total column
dfg['% Total'] = dfg['% Total'].apply(lambda x: '{:.2%}'.format(x)) #this function simply formats the column to %
dfg #this displays the dataframe

       offer  Customer ID % Total
0          A        15915   2.43%
1          B        15871   2.43%
2          C        16153   2.47%
3          D        16162   2.47%
4          E        15833   2.42%
5          F        15789   2.42%
6          G        15778   2.41%
7          H        15855   2.43%
8          I        15860   2.43%
9          J        15893   2.43%
10  No Offer       494644  75.66%

**Observation**
* The Offers seems to be evenly distributed amongst customers
* There are about 76% users who did not receive any offer from the company

**Questions**

* Is there any way to check impact of offers on churn? 
* How many customer churned as they were not given any offer?

In [15]:
dfg2 = df.groupby(['offer','Customer Status']).agg({'Customer ID':'count'}).reset_index()
pivoted_dfg2 = dfg2.pivot(index='offer', columns='Customer Status', values='Customer ID')
pivoted_dfg2 = pivoted_dfg2.reset_index()
pivoted_dfg2['Churn Rate'] = pivoted_dfg2['Churned']/(pivoted_dfg2['Churned'] + pivoted_dfg2['Stayed'])
pivoted_dfg2['Churn Rate'] = pivoted_dfg2['Churn Rate'].apply(lambda x: '{:.2%}'.format(x)) #this function simply formats the column to %
pivoted_dfg2

Customer Status     offer  Churned  Stayed Churn Rate
0                       A     1464   14451      9.20%
1                       B     1441   14430      9.08%
2                       C     1470   14683      9.10%
3                       D     1484   14678      9.18%
4                       E     1418   14415      8.96%
5                       F     1459   14330      9.24%
6                       G     1409   14369      8.93%
7                       H     1477   14378      9.32%
8                       I     1468   14392      9.26%
9                       J     1483   14410      9.33%
10               No Offer    15292  479352      3.09%

**Observations**

* churn rate seems to be similar amongst customers regardless of the offer they received -> this tells us that maybe offers are not being tailored enough to groups

In [16]:
# Taking a look at the churn category
dfg2 = df.groupby(['Churn Category',]).agg({'Customer ID':'count'}).reset_index()
dfg2['% Total'] = dfg2['Customer ID']/dfg2['Customer ID'].sum() #this creates a % of total column
dfg2['% Total'] = dfg2['% Total'].apply(lambda x: '{:.2%}'.format(x)) #this function simply formats the column to %
dfg2 #this displays the dataframe

    Churn Category  Customer ID % Total
0         Attitude          296   0.05%
1       Competitor         5974   0.91%
2  Dissatisfaction         6001   0.92%
3   Not Applicable       622748  95.26%
4            Other         4356   0.67%
5            Price         4381   0.67%
6          Support         7538   1.15%
7          Unknown         1269   0.19%
8        bcvjhdjcb         1190   0.18%

**Observations**

* The Churn Category for Competitor, Dissatisfaction, Price, Support have higher customers
* We can give them specific offers which may lead them to stay rather than churning

****Questions****

* Is there any better way to recommend offers to customers which can impact less churn rate in future?

# **Data Processing**

## **Missing Value Detection and Imputation**

We previously saw there are some missing values in the data. Lets have a look into that now.

In [17]:
# Creating a missing value df with the null values of our original dataframe
percent_missing = df.isna().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing.values})

#sorting the dataframe by percent missing value 
missing_value_df.sort_values(by='percent_missing',ascending=False)

        column_name  percent_missing
49          fb_user        62.775085
48   night_pck_user        57.070943
57    Internet Type        49.751206
42  total_rech_data        32.107539
55   Multiple Lines         7.048534
..              ...              ...
24       std_og_t2t         0.000000
23       loc_og_t2c         0.000000
22       loc_og_t2f         0.000000
21       loc_og_t2m         0.000000
73      Churn Value         0.000000

[74 rows x 2 columns]

**Observation**



*  Columns 'fb_user' and 'night_pck_user' have more 50% missing value. We will simply drop this from our dataframe
* According to data dictionary 'Internet Type' and 'total_rech_data' seems to correlated.
*   We need to check for columns 'Internet Type' and 'total_rech_data' and impute missing values if possible

In [18]:
#dropping the variables with more than 50% null values
df=df.drop(columns=['fb_user','night_pck_user'])

In [20]:
# Null values in total recharge data
df['total_rech_data'].isna().sum()

209904

In [21]:
# Null values in Internet Type
df['Internet Type'].isna().sum()

325250

**Observation:**

*  These missing values may represent customers who have not recharged their account or have recharged but the information has not been recorded.

* It is possible that customers with missing recharge data are those who received free data service, and therefore did not need to recharge their account. Alternatively, it is possible that the missing values are due to technical issues, such as data recording errors or system failures.

In [22]:
# Checking the value counts of Internet Service where total recharge data was null
df[df['total_rech_data'].isna()]['Internet Service'].value_counts(dropna=False)

Internet Service
Yes    209904
Name: count, dtype: int64

**Observation**:

* It turns out that all customers with missing recharge data have opted for internet service, the next step could be to check if they have used it or not.

In [23]:
# Let's check unlimited data column
df[(df['total_rech_data'].isna())]['Unlimited Data'].value_counts()

Unlimited Data
Yes    181040
No      28864
Name: count, dtype: int64

In [24]:
# Lets check Average Revenue for 4g and 5g when there is no recharge for data
df[(df['total_rech_data'].isna())][['arpu_4g','arpu_5g']].value_counts()

arpu_4g         arpu_5g
Not Applicable  Not Applicable    195182
297.57          8530.983629            4
544.17          8536.565906            3
395.94          8533.210427            3
290.09          8530.814304            3
                                   ...
222.42          1468.94                1
222.56          8529.28563             1
222.67          8529.28812             1
222.73          8529.289478            1
2559.56         8582.188229            1
Name: count, Length: 14247, dtype: int64

**Observation**:

* We can fill the missing values in the total_rech_data column with 0 when the arpu (Average Revenue Per User) is not applicable. This is because the arpu is a measure of the revenue generated per user, and if it is not applicable, it may indicate that the user is not generating any revenue for the company. In such cases, it is reasonable to assume that the total data recharge amount is 0
* It is advisable to check with the business before making this decision

In [25]:
# Replacing all values of total recharge data= 0 where arpu 4g and 5g are not applicable
df.loc[(df['arpu_4g']=='Not Applicable') | (df['arpu_5g']=='Not Applicable'),'total_rech_data']=0

In [26]:
# Missing value percentage after imputation
df['total_rech_data'].isna().sum()/df.shape[0]

0.022519208324856637

We cannot fill other values with 0 because they have some ARPU to consider.

In [27]:
# Calculate the mean of 'total_rech_data' where either 'arpu_4g' or 'arpu_5g' is not equal to 'Not Applicable'
arpu_data_mean=df.loc[(df['arpu_4g']!='Not Applicable') | (df['arpu_5g']!='Not Applicable'),'total_rech_data'].mean()
arpu_data_mean

4.85274721808543

In [28]:
# Fill NaN values in 'total_rech_data' with the mean of 'total_rech_data' where either 'arpu_4g' or 'arpu_5g' is not equal to 'Not Applicable'
df['total_rech_data']=df['total_rech_data'].fillna(arpu_data_mean)

In [29]:
df['total_rech_data'].isna().sum()

0

There are no more missing values in the column ''total_rech_data'

In [30]:
# Check the value counts for Internet Type
df['Internet Type'].value_counts(dropna=False)

Internet Type
NaN            325250
Fiber Optic    134991
Cable          112100
DSL             81412
Name: count, dtype: int64

In [31]:
# Check value counts for Internet Service where Internet Type is null
df[df['Internet Type'].isna()]['Internet Service'].value_counts(dropna=False)

Internet Service
No     236152
Yes     89098
Name: count, dtype: int64

All null values in Internet Type does not have Internet Service. Let's fill these null values with Not Applicable.

In [32]:
# Filling Null values in Internet Type 
df['Internet Type']=df['Internet Type'].fillna('Not Applicable')

Replace 'Not Applicable' with 0 in both 'arpu_4g' and 'arpu_5g and convert them to float

In [33]:
# Replace 'Not Applicable' with 0 in 'arpu_4g'
df['arpu_4g'] = df['arpu_4g'].replace('Not Applicable', 0)

# Replace 'Not Applicable' with 0 in 'arpu_5g'
df['arpu_5g'] = df['arpu_5g'].replace('Not Applicable', 0)

# Convert 'arpu_4g' to float data type
df['arpu_4g'] = df['arpu_4g'].astype(float)

# Convert 'arpu_5g' to float data type
df['arpu_5g'] = df['arpu_5g'].astype(float)

## **Outlier Detection and Imputation**


Outlier detection is a critical data analysis technique that involves identifying and removing data points that are significantly different from the rest of the data. Outliers are data points that lie far away from the rest of the data, and they can significantly influence the statistical analysis and machine learning models' performance. Therefore, identifying and removing outliers is essential to ensure accurate and reliable data analysis results.

There are two main approaches for outlier detection: parametric and non-parametric.

* Parametric Methods:
Parametric methods assume that the data follows a specific distribution, such as a normal distribution. In this approach, outliers are identified by calculating the distance of each data point from the mean of the distribution in terms of the number of standard deviations. Data points that are beyond a certain number of standard deviations (usually three or more) are considered as outliers.

One common parametric method is the Z-score method, which calculates the distance of each data point from the mean in terms of standard deviations.
Parametric methods can be useful when the data follows a known distribution, but they may not be effective when the data is not normally distributed.

* Non-Parametric Methods:
Non-parametric methods do not assume any specific distribution of the data. Instead, they rely on the rank or order of the data points. In this approach, outliers are identified by comparing the values of each data point with the values of other data points. Data points that are significantly different from other data points are considered as outliers.

Quantiles are an important concept in non-parametric outlier detection methods. They represent values that divide a dataset into equal-sized parts, such as quarters or thirds. The most commonly used quantiles are the median (which divides the data into two equal parts), the first quartile (which divides the data into the lowest 25% and the highest 75%), and the third quartile (which divides the data into the lowest 75% and the highest 25%).

The interquartile range (IQR) is another important concept related to quantiles. It is defined as the difference between the third and first quartiles and represents the middle 50% of the data. The IQR can be used to identify outliers by defining a range (known as the Tukey's fence) beyond which any data points are considered outliers.
Non-parametric methods can be useful when the data is not normally distributed or when the distribution is unknown.

In [34]:
# List of continuous columns
cts_cols=['Age','Number of Dependents',
       'roam_ic', 'roam_og', 'loc_og_t2t',
       'loc_og_t2m', 'loc_og_t2f', 'loc_og_t2c', 'std_og_t2t', 'std_og_t2m',
       'std_og_t2f', 'std_og_t2c', 'isd_og', 'spl_og', 'og_others',
       'loc_ic_t2t', 'loc_ic_t2m', 'loc_ic_t2f', 'std_ic_t2t', 'std_ic_t2m',
       'std_ic_t2f', 'std_ic_t2o', 'spl_ic', 'isd_ic', 'ic_others',
       'total_rech_amt', 'total_rech_data', 'vol_4g', 'vol_5g', 'arpu_5g',
       'arpu_4g', 'arpu', 'aug_vbc_5g', 'Number of Referrals','Satisfaction Score',
       'Streaming Data Consumption']

In [35]:
# Create an empty dataframe with columns as cts_cols and index as quantiles
quantile_df=pd.DataFrame(columns=cts_cols,index=[0.1,0.25,0.5,0.75,0.8,0.9,0.95,0.97,0.99])

# for each column in cts_cols, calculate the corresponding quantiles and store them in the quantile_df
for col in cts_cols:
   quantile_df[col]=df[col].quantile([0.1,0.25,0.5,0.75,0.8,0.9,0.95,0.97,0.99])

By calculating quantiles for each continuous variable in the dataset, we are trying to get an idea about the spread and distribution of the data. Specifically, we are interested in identifying potential outliers in the data.

Quantiles divide a distribution into equal proportions. For instance, the 0.25 quantile is the value below which 25% of the observations fall and the 0.75 quantile is the value below which 75% of the observations fall. By calculating quantiles at various levels, we can get a better understanding of the distribution of the data and identify any observations that are too far away from the rest of the data.

These quantiles can be used as thresholds to identify potential outliers in the data. Observations with values beyond these thresholds can be considered as potential outliers and further investigation can be carried out to determine if they are true outliers or not.

In [36]:
# Let's check out the quantiles df
quantile_df

,Age,Number of Dependents,roam_ic,roam_og,loc_og_t2t,loc_og_t2m,loc_og_t2f,loc_og_t2c,std_og_t2t,std_og_t2m,...,total_rech_data,vol_4g,vol_5g,arpu_5g,arpu_4g,arpu,aug_vbc_5g,Number of Referrals,Satisfaction Score,Streaming Data Consumption
0.10,24.0,0.0,0.000000,0.000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0000,0.0000,0.000000,0.000000,-256.2000,0.0000,0.0,1.0,0.0
0.25,28.0,0.0,12.090000,14.710,32.7000,26.260000,1.460000,1.610000,33.120000,25.560000,...,0.000000,0.0000,0.0000,0.000000,0.000000,118.9400,0.0000,0.0,3.0,2.0
0.50,34.0,0.0,50.560000,75.100,171.3300,135.460000,7.800000,8.180000,174.600000,134.800000,...,0.000000,47.0100,362.3800,0.000000,0.000000,348.5400,117.3200,4.0,3.0,20.0
0.75,43.0,1.0,162.030000,135.280,309.0900,618.210000,14.090000,14.700000,316.240000,244.490000,...,2.000000,154.9000,964.7200,194.470000,228.220000,580.6500,311.7500,8.0,4.0,49.0
0.80,47.0,2.0,496.902000,146.820,856.7660,1392.937844,43.870000,15.970000,344.970000,266.540000,...,4.852747,176.3600,3814.2220,789.000000,783.290000,626.2300,350.4900,8.0,4.0,56.0
0.90,55.0,4.0,969.043806,689.598,3613.9960,2644.568000,126.593474,109.097149,1547.136000,1007.842370,...,14.000000,219.2680,12369.5160,2219.752000,2224.100000,1901.5140,789.0000,10.0,5.0,69.0
0.95,61.0,7.0,1283.198000,1954.392,5079.8300,3479.438000,183.490000,207.514000,3953.108671,3108.617986,...,23.000000,663.2040,17358.4180,8530.865147,8675.302558,5892.6180,3943.2100,11.0,5.0,77.0
0.97,64.0,8.0,1494.043200,2550.390,5806.0544,3756.444400,206.750000,277.344400,5344.123200,3848.301590,...,26.000000,1438.5100,19569.9704,8724.440600,8839.721689,7592.5688,5949.3792,11.0,5.0,80.0
0.99,74.0,9.0,1646.899600,3041.760,6191.2040,4060.298800,257.650000,311.464800,6729.403200,4875.216400,...,30.000000,4289.8496,254687.0000,254687.000000,254687.000000,8846.9584,7366.7684,11.0,5.0,83.0

**Observation**

The variables vol_5g, arpu_4g, and arpu_5g seems to have some abrupt values

In [37]:
# Checking further
df['arpu_4g'].quantile([0.75,0.8,0.9,0.95,0.97,0.99,0.999])

0.750       228.220000
0.800       783.290000
0.900      2224.100000
0.950      8675.302558
0.970      8839.721689
0.990    254687.000000
0.999    254687.000000
Name: arpu_4g, dtype: float64

In [38]:
# Calculate the proportion of rows in the DataFrame where the value in the 'arpu_4g' column is equal to 254687
df[df['arpu_4g']==254687].shape[0]/df.shape[0]

0.019651152652454366

Let's see what is the value of 'total_rech_data' for these observations.

In [39]:
# Get the value counts of 'total_rech_data' for observations where the value in the 'arpu_4g' column is equal to 254687
df[df['arpu_4g']==254687]['total_rech_data'].value_counts()

total_rech_data
0.0    12847
Name: count, dtype: int64

Now, since the recharge amount is 0 and there is no ARPU, let's replace it with 0.

In [40]:
# Replace the outlier value 254687 in the 'arpu_4g' column of the dataframe 'df' with 0.
df['arpu_4g']=df['arpu_4g'].replace(254687,0)

In [41]:
# Checking further
df['arpu_4g'].quantile([0.75,0.8,0.9,0.95,0.97,0.99,0.999])

0.750      120.570000
0.800      504.112000
0.900     1893.758000
0.950     2493.880000
0.970     8675.470757
0.990     8839.721689
0.999    87978.000000
Name: arpu_4g, dtype: float64

In [42]:
# Filter by 'arpu_4g' value of 87978 and count unique values in 'total_rech_data' column
df[df['arpu_4g']==87978]['total_rech_data'].value_counts()

total_rech_data
0.0    5007
Name: count, dtype: int64

All rows in the dataframe with an 'arpu_4g' value of 87978 have 0 value in the 'total_rech_data' column, indicating that these are likely outliers. Therefore, we have decided to replace the 'arpu_4g' value for these rows with 0.

In [43]:
# Replace the values with 0
df['arpu_4g']=df['arpu_4g'].replace(87978,0)

In [44]:
# Checking the quantiles again
df['arpu_4g'].quantile([0.75,0.8,0.9,0.95,0.97,0.99,0.999])

0.750     107.760000
0.800     432.246000
0.900    1803.560000
0.950    2424.072000
0.970    2735.554400
0.990    8705.097343
0.999    8839.721689
Name: arpu_4g, dtype: float64

This seems to be fairly good now

In [45]:
# Get the value counts of 'total_rech_data' for observations where the value in the 'arpu_5g' column is equal to 254687
df[df['arpu_5g']==254687]['total_rech_data'].value_counts()

total_rech_data
0.0    12614
Name: count, dtype: int64

In [46]:
# Get the value counts of 'total_rech_data' for observations where the value in the 'arpu_5g' column is equal to 87978
df[df['arpu_5g']==87978]['total_rech_data'].value_counts()

total_rech_data
0.0    5130
Name: count, dtype: int64

In [47]:
# Replacing the values with 0 where total recharge data is 0
df['arpu_5g']=df['arpu_5g'].replace([87978,254687],0)

In [48]:
# Check the quantiles of ARPU 5G
df['arpu_5g'].quantile([0.75,0.8,0.9,0.95,0.97,0.99,0.999])

0.750      96.490000
0.800     417.102000
0.900    1797.618000
0.950    2543.904000
0.970    2792.060000
0.990    8587.153966
0.999    8724.440600
Name: arpu_5g, dtype: float64

This seems to be fairly good now

In [49]:
# Check the quantiles of Volume of 5G data
df['vol_5g'].quantile([0.75,0.8,0.9,0.95,0.97,0.98,0.99,0.999])

0.750       964.7200
0.800      3814.2220
0.900     12369.5160
0.950     17358.4180
0.970     19569.9704
0.980     87978.0000
0.990    254687.0000
0.999    254687.0000
Name: vol_5g, dtype: float64

In [50]:
# Lets see the recharge data value for vol_5g more than 87978
df[df['vol_5g']>=87978]['total_rech_data'].value_counts()

total_rech_data
0.0    18072
Name: count, dtype: int64

In [51]:
# Proportion of these values
df[df['vol_5g']>=87978]['total_rech_data'].value_counts()/df.shape[0]

total_rech_data
0.0    0.027643
Name: count, dtype: float64

**Observation**:

There is a presence of 2% outliers in vol 5g, where the values are very high, but their total recharge data is 0. We will fill these outliers with 0, and below are some possible reasons why this could be:

* Data recording error: It is possible that there was an error in recording the recharge data for these outliers, leading to an incorrect value of 0. In this case, it would make sense to fill the outliers with 0, as this is likely the correct value.

* Promotions or bonuses: Another possibility is that these customers received promotions or bonuses that allowed them to use the service without recharging, leading to a total recharge data of 0. However, these customers may still be using the service heavily, leading to the high values in vol 5g. In this case, filling the outliers with 0 would make sense as it accurately reflects the lack of recharge data.

In [52]:
# Replace the outlier values
df['vol_5g']=df['vol_5g'].replace([87978,254687],0)

In [53]:
# Check the quantiles of Volume of 5G data
df['vol_5g'].quantile([0.75,0.8,0.9,0.95,0.97,0.98,0.99,0.999])

0.750      895.8100
0.800     1654.5460
0.900     9658.3760
0.950    14517.6400
0.970    16580.3764
0.980    17551.8796
0.990    18614.5528
0.999    19746.1824
Name: vol_5g, dtype: float64

It seems good now

Lets store this processed data for further use.

In [108]:
df.to_csv('./data/output/processed_telecom_offer_data.csv',index=False)

### **Data Preprocessing and Leakage**

Data leakage is a situation where information from the test or prediction data is inadvertently used during the training process of a machine learning model. This can occur when information from the test or prediction data is leaked into the training data, and the model uses this information to improve its performance during the training process.

Data leakage can occur during the preprocessing phase of machine learning when information from the test or prediction data is used to preprocess the training data, inadvertently leaking information from the test or prediction data into the training data.

For example, consider a scenario where the preprocessing step involves imputing missing values in the dataset. If the missing values are imputed using the mean or median values of the entire dataset, including the test and prediction data, then the imputed values in the training data may be influenced by the values in the test and prediction data. This can lead to data leakage, as the model may learn to recognize patterns in the test and prediction data during the training process, leading to overfitting and poor generalization performance.


To avoid data leakage, it's important to perform the data preprocessing steps on the training data only, and then apply the same preprocessing steps to the test and prediction data separately. This ensures that the test and prediction data remain unseen by the model during the training process, and helps to prevent overfitting and improve the accuracy of the model.

In the context of this problem, we performed all data preprocessing steps together for the sake of simplicity, which could potentially lead to data leakage. However, in real-world scenarios, it's important to treat the test and prediction data separately and apply the necessary preprocessing steps separately, based on the characteristics of the data.

# **Feature engineering**

Let's start by doing some variable selection and transformation. For selection, at this stage, we are going to use some business judgement to stick to what is possible to work with all the variables.

**1. Splitting the dataset into a training and production dataset:**

- Training: part of the customers who received offers which will be used to train the model
- Production: customers who did not received offers to whom we'd like to then offer something

In [56]:
# Let's split our dataframe in a training and production dataset:
def split_dataframe(data):
    train = data[data['offer']!='No Offer']
    production = data[data['offer']=='No Offer']
    return train, production

In [57]:
train, production = split_dataframe(df)

In [58]:
train.shape,production.shape

((159109, 72), (494644, 72))

**Questions**


Why we split the dataframe into such unusual technique?

Here we are not dealing with traditional train test split method as we are building an unsupervised collaborative recommender system.
Now to make model learn we need to pass all the data with respect to offers.

we are creating 2 dataframes for each train and production, that have the Customer ID as a join key. This will help us manipulate features, and also trace them back to a particular customer;

In [59]:
#This help us identify the customer and the business outcomes
id_variables = ['Customer ID', 'Month','Month of Joining','offer','Churn Category',
       'Churn Reason', 'Customer Status', 'Churn Value']


#This helps us identify the different profiles of customers
selected_variables = ['Customer ID', 'Month', 'Month of Joining', 'Gender', 'Age',
                      'Married', 'Number of Dependents', 'area_codes','roam_ic', 'roam_og',
                      'loc_og_t2t','loc_og_t2m', 'loc_og_t2f', 'loc_og_t2c', 'std_og_t2t', 'std_og_t2m',
                      'std_og_t2f', 'std_og_t2c', 'isd_og', 'spl_og', 'og_others',
                      'loc_ic_t2t', 'loc_ic_t2m', 'loc_ic_t2f', 'std_ic_t2t', 'std_ic_t2m',
                      'std_ic_t2f', 'std_ic_t2o', 'spl_ic', 'isd_ic', 'ic_others',
                      'total_rech_amt', 'total_rech_data', 'vol_4g', 'vol_5g', 'arpu_5g',
                      'arpu_4g', 'arpu', 'aug_vbc_5g','Number of Referrals', 'Phone Service',
                      'Multiple Lines', 'Internet Service', 'Internet Type',
                      'Streaming Data Consumption', 'Online Security', 'Online Backup',
                      'Device Protection Plan', 'Premium Tech Support', 'Streaming TV',
                      'Streaming Movies', 'Streaming Music', 'Unlimited Data',
                      'Payment Method']

train_id=train[id_variables]
train_feat=train[selected_variables]

prod_id=production[id_variables]
prod_feat=production[selected_variables]

In the code above, what we have essentially eliminated are complex variables like latitude, longitude and timezone because they could be represented by the area_codes variable, that represents location.


**2. Converting the Month of Joining into a customer tenure**

In [60]:
train_feat['tenure'] = train_feat['Month']- train_feat['Month of Joining']
train_feat['tenure'].describe()

C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\2509795028.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_feat['tenure'] = train_feat['Month']- train_feat['Month of Joining']

count    159109.000000
mean          3.232708
std           2.815985
min           0.000000
25%           1.000000
50%           3.000000
75%           5.000000
max          13.000000
Name: tenure, dtype: float64

In [61]:
prod_feat['tenure'] = prod_feat['Month']- prod_feat['Month of Joining']
prod_feat['tenure'].describe()

C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1098919431.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod_feat['tenure'] = prod_feat['Month']- prod_feat['Month of Joining']

count    494644.000000
mean          3.830003
std           3.018754
min           0.000000
25%           1.000000
50%           3.000000
75%           6.000000
max          13.000000
Name: tenure, dtype: float64

**3.Transforming Categorical Variables**

Transforming variables is an important step in the data preprocessing pipeline of machine learning, as it helps to convert the data into a format that is suitable for analysis and modeling. There are several ways to transform variables, depending on the type and nature of the data.

Categorical variables, for example, are variables that take on discrete values from a finite set of categories, such as colors, gender, or occupation. One common way to transform categorical variables is through one-hot encoding. One-hot encoding involves creating a new binary variable for each category in the original variable, where the value is 1 if the observation belongs to that category and 0 otherwise. This approach is useful when the categories have no natural order or ranking.

Another way to transform categorical variables is through label encoding. Label encoding involves assigning a unique integer value to each category in the variable. This approach is useful when the categories have a natural order or ranking, such as low, medium, and high.
Transforming categorical features into numerical labels:

**Note:** We are NOT using dummies here to minimize the explosion of columns because of the distance methods we are using.

In [62]:
# Now we need to transform the features of the feature store.
def encode_categorical_features(train_df,prod_df):
    # Get a list of all categorical columns
    cat_columns = train_df.select_dtypes(include=['object', 'category']).columns.tolist()

    # Encode each categorical column
    for col in cat_columns:
        le = LabelEncoder()
        train_df[col] = le.fit_transform(train_df[col])
        prod_df[col]= le.transform(prod_df[col])
    return train_df, prod_df

In [63]:
#excluding the customer ID so it doesn't get encoded
train_label_data=train_feat[train_feat.columns.difference(['Customer ID','Month','Month of Joining'])]
prod_label_data=prod_feat[prod_feat.columns.difference(['Customer ID','Month','Month of Joining'])]
train_feat_enc, prod_feat_enc = encode_categorical_features(train_label_data,prod_label_data)

C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[col] = le.fit_transform(train_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod_df[col]= le.transform(prod_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[col] = le.fit_transform(train_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod_df[col]= le.transform(prod_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[col] = le.fit_transform(train_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod_df[col]= le.transform(prod_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[col] = le.fit_transform(train_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod_df[col]= le.transform(prod_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[col] = le.fit_transform(train_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod_df[col]= le.transform(prod_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[col] = le.fit_transform(train_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod_df[col]= le.transform(prod_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[col] = le.fit_transform(train_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod_df[col]= le.transform(prod_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[col] = le.fit_transform(train_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod_df[col]= le.transform(prod_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[col] = le.fit_transform(train_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod_df[col]= le.transform(prod_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[col] = le.fit_transform(train_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod_df[col]= le.transform(prod_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[col] = le.fit_transform(train_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod_df[col]= le.transform(prod_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[col] = le.fit_transform(train_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod_df[col]= le.transform(prod_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[col] = le.fit_transform(train_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod_df[col]= le.transform(prod_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[col] = le.fit_transform(train_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod_df[col]= le.transform(prod_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[col] = le.fit_transform(train_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod_df[col]= le.transform(prod_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[col] = le.fit_transform(train_df[col])
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\1391466617.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod_df[col]= le.transform(prod_df[col])

In [64]:
##bringing back the customer ids keys
train_feat_enc['Customer ID'] = train_feat['Customer ID'] #bringing back the customer id
train_feat_enc['Month'] = train_feat['Month'] #bringing back the Month
train_feat_enc['Month of Joining'] = train_feat['Month of Joining'] #bringing back the Month of joining

prod_feat_enc['Customer ID'] = prod_feat['Customer ID'] #bringing back the customer id
prod_feat_enc['Month'] = prod_feat['Month'] #bringing back the Month
prod_feat_enc['Month of Joining'] = prod_feat['Month of Joining'] #bringing back the Month of joining

C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\289144358.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_feat_enc['Customer ID'] = train_feat['Customer ID'] #bringing back the customer id
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\289144358.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_feat_enc['Month'] = train_feat['Month'] #bringing back the Month
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\289144358.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod_feat_enc['Customer ID'] = prod_feat['Customer ID'] #bringing back the customer id
C:\Users\Hugo\AppData\Local\Temp\ipykernel_9736\289144358.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod_feat_enc['Month'] = prod_feat['Month'] #bringing back the Month

Taking a look at the final list of variables

In [65]:
train_feat_enc.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Age,159109.0,36.634975,12.179496,19.000000,28.00,34.00,43.000000,80.000000
Device Protection Plan,159109.0,0.498514,0.499999,0.000000,0.00,0.00,1.000000,1.000000
Gender,159109.0,0.782690,0.842949,0.000000,0.00,1.00,1.000000,3.000000
Internet Service,159109.0,0.609670,0.487826,0.000000,0.00,1.00,1.000000,1.000000
Internet Type,159109.0,2.031400,1.142408,0.000000,1.00,2.00,3.000000,3.000000
Married,159109.0,1.005041,0.921703,0.000000,0.00,1.00,2.000000,2.000000
Multiple Lines,159109.0,0.577089,0.621380,0.000000,0.00,1.00,1.000000,2.000000
Number of Dependents,159109.0,1.162522,2.248864,0.000000,0.00,0.00,1.000000,9.000000
Number of Referrals,159109.0,4.338764,3.768069,0.000000,0.00,4.00,8.000000,11.000000
Online Backup,159109.0,0.331169,0.470635,0.000000,0.00,0.00,1.000000,1.000000
Online Security,159109.0,0.136655,0.343484,0.000000,0.00,0.00,0.000000,1.000000
Payment Method,159109.0,0.501637,0.629735,0.000000,0.00,0.00,1.000000,2.000000
Phone Service,159109.0,0.808383,0.393575,0.000000,1.00,1.00,1.000000,1.000000
Premium Tech Support,159109.0,0.256604,0.436760,0.000000,0.00,0.00,1.000000,1.000000
Streaming Data Consumption,159109.0,27.620311,26.405922,0.000000,2.00,20.00,49.000000,85.000000
Streaming Movies,159109.0,0.487433,0.499844,0.000000,0.00,0.00,1.000000,1.000000
Streaming Music,159109.0,0.452495,0.497740,0.000000,0.00,0.00,1.000000,1.000000
Streaming TV,159109.0,0.492744,0.499949,0.000000,0.00,0.00,1.000000,1.000000
Unlimited Data,159109.0,0.573739,0.528198,0.000000,0.00,1.00,1.000000,2.000000
area_codes,159109.0,104.663363,47.738883,0.000000,78.00,101.00,147.000000,174.000000
arpu,159109.0,787.781422,1821.880455,-2258.680000,118.31,348.41,582.400000,9393.940000
arpu_4g,159109.0,527.772801,1509.454852,-10.470000,0.00,0.00,112.630000,8839.721689
arpu_5g,159109.0,519.516787,1450.299521,-16.660000,0.00,0.00,100.440000,8724.440600
aug_vbc_5g,159109.0,534.952343,1411.039501,-374.893876,0.00,117.53,311.790000,8213.830000
ic_others,159109.0,145.249469,294.250186,-58.302931,20.28,40.65,60.950000,1344.130000
isd_ic,159109.0,261.283237,451.011518,-14.001715,27.45,54.45,96.630000,1873.110208
isd_og,159109.0,50.285346,114.062569,0.000000,3.20,17.31,31.300000,764.810000
loc_ic_t2f,159109.0,337.518664,487.475776,0.000000,36.39,72.81,513.910000,1872.340000
loc_ic_t2m,159109.0,734.177204,1015.897612,0.010000,85.68,170.63,1123.240000,3783.530000
loc_ic_t2t,159109.0,862.141763,1225.340083,0.000000,87.10,173.79,1289.270000,4363.950000
loc_og_t2c,159109.0,30.622222,67.914134,0.000000,1.59,8.21,14.740000,336.120000
loc_og_t2f,159109.0,33.866195,60.749211,0.000000,1.47,7.92,18.110000,283.510000
loc_og_t2m,159109.0,690.491017,1121.662647,0.000000,26.42,136.78,706.180000,4212.010000
loc_og_t2t,159109.0,863.250198,1615.391031,0.000000,33.18,174.06,313.460000,6431.100000
og_others,159109.0,100.045559,162.479243,-12.746303,3.42,17.99,116.830000,609.770000
roam_ic,159109.0,254.970469,429.280935,-14.457620,12.18,51.21,196.853003,1719.420000
roam_og,159109.0,270.779801,630.702608,-46.888839,14.40,75.02,135.550000,3161.740000
spl_ic,159109.0,0.253568,0.440783,0.000000,0.04,0.08,0.210000,2.330000
spl_og,159109.0,92.872855,172.090449,-6.040013,4.96,26.16,46.960000,1018.760000
std_ic_t2f,159109.0,127.794441,186.599548,0.000000,12.61,25.31,193.570000,663.920000
std_ic_t2m,159109.0,311.311197,440.434224,0.000000,32.51,65.54,460.946724,1619.680000
std_ic_t2o,159109.0,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.000000
std_ic_t2t,159109.0,382.092398,640.856736,0.000000,42.88,85.67,217.137387,2527.000000
std_og_t2c,159109.0,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.000000
std_og_t2f,159109.0,35.577383,58.438310,0.000000,1.19,6.38,42.200000,217.430000
std_og_t2m,159109.0,449.000563,1001.875646,0.000000,25.17,134.70,245.690000,5622.020000
std_og_t2t,159109.0,588.507109,1323.372777,0.000000,32.70,175.88,318.040000,7366.060000
tenure,159109.0,3.232708,2.815985,0.000000,1.00,3.00,5.000000,13.000000
total_rech_amt,159109.0,1705.510147,2998.602415,0.000000,72.00,375.00,1108.000000,11899.000000
total_rech_data,159109.0,3.435053,7.229865,0.000000,0.00,0.00,2.000000,32.000000
vol_4g,159109.0,191.741808,590.745873,0.000000,0.00,47.35,154.600000,4503.670000
vol_5g,159109.0,2267.762985,4595.365953,0.000000,0.00,289.16,900.670000,19872.850000
Month,159109.0,9.408556,3.450255,1.000000,7.00,10.00,12.000000,14.000000
Month of Joining,159109.0,6.175848,2.879792,1.000000,4.00,6.00,8.000000,12.000000

In [66]:
train = pd.merge(train_feat_enc,train_id[['Customer ID','Month','Month of Joining','Churn Value','offer']],how = 'inner',on=['Customer ID','Month','Month of Joining'])
production = pd.merge(prod_feat_enc,prod_id[['Customer ID','Month','Month of Joining','Churn Value','offer']],how = 'inner',on=['Customer ID','Month','Month of Joining'])

In [67]:
## This help us check if we did not duplicate anything in the columns

print(len(train))
print(len(production))

159109
494644

# **Model Building and Testing**

## **Collaborative filtering**

Collaborative filtering is a type of recommendation system that uses user feedback to make personalized recommendations for items. It works by finding similarities between users or items and using those similarities to make predictions about what a user might like or dislike.

Collaborative filtering can be broken down into two main types: user-based and item-based. In user-based collaborative filtering, similarities are calculated between users based on their past interactions with items. In item-based collaborative filtering, similarities are calculated between items based on how often they are interacted with by the same users.

Distance measures are commonly used in collaborative filtering to calculate similarities between users or items. Some common distance measures used in collaborative filtering include Manhattan distance, Euclidean distance, and cosine similarity.

The basic idea behind using distance measures in collaborative filtering is that similar users or items will be close together in the feature space defined by the data. For example, if we are recommending movies to users based on their past movie ratings, we might represent each user as a vector of their ratings, with each rating corresponding to a different movie. We could then calculate the distance between two users' rating vectors using a distance measure like cosine similarity or Euclidean distance. Users who have similar ratings for the same movies will be closer together in this feature space and therefore will have a smaller distance between them.

Once we have calculated similarities between users or items, we can use those similarities to make predictions about what a user might like or dislike. For example, if we have calculated the similarity between two users and we know that one of them likes a certain movie, we can predict that the other user might also like that movie based on their similarity.

There are many variations of collaborative filtering that use different distance measures and algorithms for finding similarities between users or items. Some examples include k-nearest neighbors (k-NN), which uses the distances between users to find the k users who are most similar to a given user, and matrix factorization, which uses linear algebra techniques to decompose the user-item interaction matrix into lower-dimensional matrices that capture user and item characteristics.

In summary, collaborative filtering is a type of recommendation system that uses user feedback to make personalized recommendations for items. It uses distance measures to calculate similarities between users or items, which are then used to make predictions about what a user might like or dislike.

## **Mathematical explanation for distance measure**

Manhattan, cosine, and Euclidean distance are different distance metrics used in machine learning and data science.

### **Manhattan distance:**
Manhattan distance, also known as taxicab distance or L1 distance, is a measure of the distance between two points in a n-dimensional space. It is called Manhattan distance because it is analogous to the distance a taxi would travel on the streets of Manhattan, where you can only move in straight lines along the grid.
The formula for Manhattan distance between two points P and Q in n-dimensional space is:

\begin{equation}
d(P,Q) = |x_1-y_1| + |x_2-y_2| + ... + |x_n-y_n|
\end{equation}

where $x_1, x_2, ..., x_n$ are the coordinates of point $P$ and $y_1, y_2, ..., y_n$ are the coordinates of point $Q$.

### **Cosine similarity:**
Cosine similarity is a measure of the similarity between two non-zero vectors of an inner product space. It is the cosine of the angle between the two vectors and ranges from -1 to 1. A value of 1 indicates that the two vectors are identical, while a value of -1 indicates that they are completely dissimilar.
The formula for cosine similarity between two vectors A and B is:

\begin{equation}
\text{cosine   similarity}(A, B) = \frac{A * B }{ ||A|| * ||B||}
\end{equation}



where $A * B$ is the dot product of vectors A and B, and $||A||$ and $||B||$ are the magnitudes of vectors A and B, respectively.

In [71]:
def get_recommended_offers (df:pd.DataFrame, df_id:pd.DataFrame,customer_id:str,month:int,distance_func:str,n,minimal_threshold:float,max_offers_to_return:int):
    """
    This function takes as parameters:
    1. the dataframe where we'll be getting our data
    2. the customer identifiers Customer Id and the Month we want to make an offer for
    3. the distance function we want to use to calculate similaries between customers (see explanation below on how to chose it)
    4. The number of other customers we want to base our recommendations on
    5. The minimal threshold of prevalence of a given offer, in the similar group of customers, for it to be considered for recommendation (see explanation below on how to chose it)
    
    It returns:
    An array with the list of offers that we could recommend to this customer
    """

    # extract the feature vectors of all customers
    features = list(df.columns.difference(['Customer ID','Month','Month of Joining','offer']))
    X = df[features].values

    # extract the feature vector of the given customer
    index = df[(df['Customer ID'] == customer_id) & (df['Month']==month)].index[0]
    x = X[index]

    # compute the distances between the feature vectors
    if distance_func == 'euclidean':
      distances = euclidean_distances(X, x.reshape(1, -1)).flatten()
    elif distance_func == 'manhattan':
      distances = manhattan_distances(X, x.reshape(1, -1)).flatten()
    elif distance_func == 'cosine':
      distances = 1 - cosine_similarity(X, x.reshape(1, -1)).flatten()
    else:
      raise ValueError('Invalid distance function specified.')

    # find the indices of the n customers with lowest distance
    most_similar_indices = distances.argsort()[:n]
            
    # extract the customer data for the most similar customers
    similar_customers = df.iloc[most_similar_indices]

    # merge with the id dataframe to select only the customers who did not churn
    similar_customers = pd.merge(similar_customers,df_id[['Customer ID','Month of Joining','Month','Churn Value']],on=['Customer ID','Month of Joining','Month','Churn Value'])

    # select the customers that did not churn
    similar_customers = similar_customers[similar_customers['Churn Value']==0]

    #count the top offers of the non-churned customers
    top_offers = similar_customers[['Customer ID','offer']].groupby(['offer']).agg({'Customer ID':'count'}).reset_index().sort_values(by = 'Customer ID', ascending = False)
    top_offers['perc_total'] = top_offers['Customer ID']/top_offers['Customer ID'].sum()
    top_offers_min = top_offers[top_offers['perc_total']>minimal_threshold].head(max_offers_to_return)
        
    return top_offers_min['offer'].unique()

#### **Function Overview**

This function finds n similar customers with respect to the distance metric provided by user from training data corresponding to specific customer. 

It further finds the most occurring offers given to set of n similar customers and recommend the top 3 offers.


##### **Input Parameters**
1. df: The main DataFrame that contains all the data for all customers and their offers

2. df_id: A DataFrame that contains only the customer ID, month of joining, and churn value and offer

3. customer_id: The ID of the customer we want to recommend offers for

4. month: The month we want to make the offer for

5. distance_func: The distance function to use for finding similar customers

6. n: The number of other customers we want to base our recommendations on

7. minimal_threshold: The minimal threshold of prevalence of a given offer in the similar group of customers, for it to be considered for recommendation

8. max_offers_to_return: The maximum number of offers to return

##### **Step by Step Explanation**

* Extracts the feature vectors of all customers by removing the 'Customer ID', 'Month', 'Month of Joining', and 'offer' columns from the main DataFrame

```
features = list(df.columns.difference(['Customer ID','Month','Month of Joining','offer']))
X = df[features].values
```

* Extracts the feature vector of the given customer

```
index = df[(df['Customer ID'] == customer_id) & (df['Month']==month)].index[0]
x = X[index]
```

* Computes the distances between the feature vectors of the given customer and all other customers using the specified distance function

```
if distance_func == 'euclidean':
    distances = euclidean_distances(X, x.reshape(1, -1)).flatten()
elif distance_func == 'manhattan':
    distances = manhattan_distances(X, x.reshape(1, -1)).flatten()
elif distance_func == 'cosine':
     distances = 1 - cosine_similarity(X, x.reshape(1, -1)).flatten()
else:
    raise ValueError('Invalid distance function specified.')
```

* Finds the indices of the n customers with the lowest distance to the given customer

```
most_similar_indices = distances.argsort()[:n]
```

* Extracts the customer data for the most similar customers

```
similar_customers = df.iloc[most_similar_indices]
```

* Merges the similar customers DataFrame with the ID DataFrame to select only the customers who did not churn

```
similar_customers = pd.merge(similar_customers,df_id[['Customer ID','Month of Joining','Month','Churn Value']],on=['Customer ID','Month of Joining','Month','Churn Value'])
```

* Selects the customers that did not churn

```
similar_customers = similar_customers[similar_customers['Churn Value']==0]
```

* Counts the top offers of the non-churned customers, calculates the percentage of each offer among the top offers, and selects the top max_offers_to_return offers whose percentage is above the minimal_threshold

```
top_offers = similar_customers[['Customer ID','offer']].groupby(['offer']).agg({'Customer ID':'count'}).reset_index().sort_values(by = 'Customer ID', ascending = False)
top_offers['perc_total'] = top_offers['Customer ID']/top_offers['Customer ID'].sum()
top_offers_min = top_offers[top_offers['perc_total']>minimal_threshold].head
```

## **The minimal threshold parameter**

Whenever we are building any framework, and especially unsupervised ones, it is important that we establish parameters that can help us have confidence in what we are doing.

In this particular case, we are assigning a minimal threshold of 10% for an offer to be potentially chosen to customers.

This comes from the fact that we have 10 offers (A-> J). If we were to randomly assign an offer to a customer, we would likely give each offer an equal probability of being assigned, so 100%/10%. So given that, if we are going to recommend something, it needs to be better than the random assignment.

To identify similar customers, we are going to treat each feature that we selected now in the train dataframe as a customer feature

## **Which distance to choose?**

In Summary
*  Manhattan distance: This metric measures the distance between two points by summing the absolute differences between their coordinates. It is also called the "taxicab" or "city block" distance because it measures the distance a taxicab would have to travel to get from one point to another on a city grid. 

*  Cosine similarity: This metric measures the cosine of the angle between two vectors in a high-dimensional space. It is commonly used in text analysis and information retrieval to measure the similarity between documents. Cosine similarity is often preferred over Euclidean distance when the magnitude of the vectors is not important, and only the direction matters.

*  Euclidean distance: This metric measures the distance between two points in a straight line. It is the most common distance metric used in machine learning and data science. Euclidean distance is useful when the data is dense, and the features have similar scales.

In general, if you have high-dimensional data or sparse data, Manhattan or cosine distance may be more appropriate. If you have dense data with similar scales, Euclidean distance is a good choice.

## **Applying this framework to a specific customer**

In [68]:
train[train['Customer ID']=='sirifvlkipkel21']

,Age,Device Protection Plan,Gender,Internet Service,Internet Type,Married,Multiple Lines,Number of Dependents,Number of Referrals,Online Backup,...,tenure,total_rech_amt,total_rech_data,vol_4g,vol_5g,Customer ID,Month,Month of Joining,Churn Value,offer
24,40.0,0,0,1,0,2,0,0.0,10.0,0,...,1,452,3.0,12.04,127.5,sirifvlkipkel21,12,11,0,G

In [72]:
customer_id = 'sirifvlkipkel21' # This Customer Id needs to be there from the training dataset
month = 12
distance_func = 'euclidean'
n = 1000
minimal_threshold= 0.10
max_offers_to_return = 3
id_cols=['Customer ID','Month','Month of Joining','Churn Value','offer']

offers = get_recommended_offers(train, train[id_cols], customer_id,month,distance_func,n,minimal_threshold,max_offers_to_return)

print('The first offer to recommend is ' + str(offers[0]))
print('The second offer to recommend is ' + str(offers[1]))
print('The third offer to recommend is ' + str(offers[2]))

The first offer to recommend is C
The second offer to recommend is G
The third offer to recommend is F

Instead of adding this result to a list, we could also add it to a dataframe:

In [73]:
frame = pd.DataFrame()

data = {'Customer ID': [customer_id],
        'Month': [month],
        'offer 1': [str(offers[0])],
        'offer 2': [str(offers[1])],
        'offer 3': [str(offers[2])]}

frame= pd.DataFrame(data)
frame.head(2)

       Customer ID  Month offer 1 offer 2 offer 3
0  sirifvlkipkel21     12       C       G       F

## **Bootstrapping the framework**


Especially in unsupervised learning problems, it is always a good idea to run several approaches ('bootstrap') and chose the most common answer amongst the different models. This mechanism is similar to what algorithms like random forest do, for example: they fit several trees and each tree votes the final classification of a sample.

We are going to play with the 3 distances we have in our function + the number of customers we pull the data from in order to get a voted answer

In [74]:
def find_similar_customers_multiple(df:pd.DataFrame, df_id:pd.DataFrame,customer_id:str,month:int,distance_funcs:list,n_values,minimal_threshold:float,max_offers_to_return:int):
    """
    Given a dataframe, a customer_id, n values, and distance functions,
    run multiple iterations of the find_similar_customers function with different parameter combinations,
    and return the top 3 most common answers among those.
    """
    results = []
    for n in n_values:
      for distance_func in distance_funcs:
          result = get_recommended_offers (df,df_id ,customer_id,month,distance_func,n,minimal_threshold,max_offers_to_return)
          results.append(result)
          # concatenate the arrays together
          concatenated_array = np.concatenate(results)
          # convert the concatenated array to a Python list
          result_list = list(concatenated_array)
          result_list
    if len(results) == 0:
        return None
    else:
        result_counts = pd.Series(result_list).value_counts()
        most_common_result = [result_counts.index[0],result_counts.index[1],result_counts.index[2]]
        return most_common_result

#### **Function Overview**

This function takes a dataframe, a customer ID, a month, a list of distance functions, a list of n values, a minimal threshold, and a max number of offers to return as input parameters. It uses these parameters to run multiple iterations of the get_recommended_offers function and returns the top 3 most common recommendations among them.

First, the function initializes an empty results list to store the results of each iteration. Then, for each n value and distance function, it calls the get_recommended_offers function with the given parameters and appends the result to the results list. After all iterations are completed, the function concatenates the arrays together and converts them to a Python list.

If the results list is empty, meaning no recommendations were generated, the function returns None. Otherwise, it uses the value_counts() function to count the frequency of each recommended offer in the result_list, and returns a list of the top 3 most common recommendations.

## **Applying this framework to a given customer** ##

In [75]:
n_values = [100, 250, 500, 1000]
distance_funcs = ['euclidean', 'manhattan', 'cosine']
customer_id = 'sirifvlkipkel21'
month = 12
minimal_threshold= 0.10
max_offers_to_return = 3
id_cols=['Customer ID','Month','Month of Joining','Churn Value','offer']
find_similar_customers_multiple(train, train[id_cols],customer_id,month,distance_funcs,n_values,minimal_threshold=0.10,max_offers_to_return=3)

['G', 'A', 'I']

### Seeing how this function work in details

In [76]:
# parameter values
n_values = [100, 250, 500, 1000]
distance_funcs = ['euclidean', 'manhattan', 'cosine']
customer_id = 'sirifvlkipkel21'
month = 12
minimal_threshold= 0.10
max_offers_to_return = 3
results = []

In [77]:
# for each value in n_values 
# The number of other customers we want to base our recommendations on
for n in n_values:
  # chose distance metric from a list
  for distance_func in distance_funcs:
    
      # get the offer recommendation by using get_recommended_offers function
      result = get_recommended_offers (train, train[id_cols],customer_id,month,distance_func,n,minimal_threshold,max_offers_to_return)
      
      results.append(result)
      # concatenate the arrays together
      concatenated_array = np.concatenate(results)
      # convert the concatenated array to a Python list
      result_list = list(concatenated_array)
if len(results) == 0:
    None
else:
    result_counts = pd.Series(result_list).value_counts()
    most_common_result = [result_counts.index[0],result_counts.index[1],result_counts.index[2]]
    most_common_result

In [78]:
result_counts

G    10
A     7
I     5
C     5
J     4
D     3
F     2
Name: count, dtype: int64

We can see above that the different iterations returned 7 potential offers. 3 of those were, however, much more common than 6 of the rest.

In [79]:
most_common_result

['G', 'A', 'I']

The most_common_result list will aggregate the top 3 offers

## **Applying this to the whole dataframe**

This code defines a function called production_model that takes three arguments: df, distance_func, and n. df is a Pandas DataFrame that contains data about customer transactions. The distance_func is a function that takes two arguments and returns a distance measure between them. The n parameter specifies the number of recommended offers to return for each customer and month.

The function initializes an empty DataFrame called frame and then iterates over each unique customer in the input DataFrame. For each customer, the function iterates over each unique month for that customer and calls another function called get_recommended_offers. This function returns a list of recommended offers for that customer and month based on their transaction history, using the distance_func and n parameters.

The function then creates a new DataFrame called frame1 containing the Customer ID, Month, and the top three recommended offers for that customer and month, and appends it to the frame DataFrame. Finally, the function returns the frame DataFrame containing the recommendations for all customers and months in the input DataFrame.

In [80]:
train.head(2)

,Age,Device Protection Plan,Gender,Internet Service,Internet Type,Married,Multiple Lines,Number of Dependents,Number of Referrals,Online Backup,...,tenure,total_rech_amt,total_rech_data,vol_4g,vol_5g,Customer ID,Month,Month of Joining,Churn Value,offer
0,36.000000,1,0,1,1,0,1,0.0,9.0,0,...,0,18,0.0,38.3,219.25,hthjctifkiudi0,1,1,1,A
1,36.472065,0,1,0,3,0,1,0.0,0.0,1,...,0,1183,0.0,0.0,0.00,uqdtniwvxqzeu1,6,6,0,F

### **For the function without bootstrapping**

In [81]:
train_id.columns

Index(['Customer ID', 'Month', 'Month of Joining', 'offer', 'Churn Category',
       'Churn Reason', 'Customer Status', 'Churn Value'],
      dtype='object')

In [100]:
def production_model(df, train, production, distance_func, n):
    frame = pd.DataFrame()
    # Pour chaque client et chaque mois
    for customer in list(df['Customer ID'].unique()):
        for month in list(df[df['Customer ID'] == customer]['Month'].unique()):
            # Cette partie du code ajoute la ligne que nous voulons obtenir des offres à l'ensemble d'entraînement, afin que nous puissions utiliser la formule de distance
            data = pd.DataFrame()
            data = pd.concat([train, production[(production['Customer ID'] == customer) & (production['Month'] == month)]])
            data = data.reset_index()
            data_id = data[['Customer ID', 'Month', 'Month of Joining', 'Churn Value']]
            results = get_recommended_offers(data, data_id, customer, month, distance_func, n, minimal_threshold=0.10, max_offers_to_return=3)
            data = {'Customer ID': [customer],
                    'Month': [month],
                    'offers': [results]}
            frame1 = pd.DataFrame(data)
            frame = frame._append([frame1])
    return frame

#### **Function Overview**

The production_model function takes in a dataframe df, a distance function distance_func, and a value n, and returns a new dataframe frame with recommended offer in each month.

For each unique Customer ID and Month combination in the input dataframe, the function adds the line for that combination to a new dataframe data that includes all previous training data plus the current combination. The get_recommended_offers function is then called on this new data dataframe, using the given distance_func and n values, to obtain a list of recommended offers for that combination.

A dictionary is then created to store the Customer ID, Month, and offers data, and a new dataframe frame1 is created from this dictionary. This new dataframe is then appended to the existing frame dataframe.

Finally, the frame dataframe is returned, which contains the recommended offers for each unique Customer ID and Month combination in the input dataframe.

In [101]:
frame_production_100_samples = production_model(production.head(100),train=train,production=production,distance_func = 'euclidean',n = 250)
frame_production_100_samples.to_csv('./data/output/offer_recommendation_without_bootstap.csv',index=False)

In [106]:
frame_production_100_samples.head(5)

      Customer ID  Month     offers
0  uqdtniwvxqzeu1      7  [J, F, E]
0  uqdtniwvxqzeu1      9  [F, E, A]
0  uqdtniwvxqzeu1     10  [E, A, F]
0  uqdtniwvxqzeu1     11  [F, A, G]
0  uqdtniwvxqzeu1     12  [I, B, C]

### **For the function with bootstrapping**

In [104]:
def production_model_bootstrap(df, train, production, distance_funcs, n_values):
    frame = pd.DataFrame()
    for customer in list(df['Customer ID'].unique()):
        for month in list(df[df['Customer ID'] == customer]['Month'].unique()):
            # Cette partie du code ajoute la ligne que nous voulons obtenir des offres à l'ensemble d'entraînement, afin que nous puissions utiliser la formule de distance
            data = pd.DataFrame()
            data = pd.concat([train, production[(production['Customer ID'] == customer) & (production['Month'] == month)]])
            data = data.reset_index()
            data_id = data[['Customer ID', 'Month', 'Month of Joining', 'Churn Value']]
            results = find_similar_customers_multiple(data, data_id, customer, month, distance_funcs=distance_funcs, n_values=n_values, minimal_threshold=0.10, max_offers_to_return=3)
            data = {'Customer ID': [customer],
                    'Month': [month],
                    'offers': [results]}
            frame1 = pd.DataFrame(data)
            frame = frame._append(frame1)
    return frame

#### **Function Overview**

The production_model function takes in a dataframe df, a distance function distance_func, and a value n, and returns a new dataframe frame with recommended offer in each month.

For each unique Customer ID and Month combination in the input dataframe, the function adds the line for that combination to a new dataframe data that includes all previous training data plus the current combination. The find_similar_customers_multiple(boostraping function) function is then called on this new data dataframe, using the given distance_func and n values, to obtain a list of recommended offers for that combination.

A dictionary is then created to store the Customer ID, Month, and offers data, and a new dataframe frame1 is created from this dictionary. This new dataframe is then appended to the existing frame dataframe.

Finally, the frame dataframe is returned, which contains the recommended offers for each unique Customer ID and Month combination in the input dataframe.

In [105]:
frame_production_100_samples_bootstrap = production_model_bootstrap (production.head(100),train=train,production=production,distance_funcs=['euclidean', 'manhattan', 'cosine'],n_values=[250,500,1000])
frame_production_100_samples_bootstrap.to_csv('./data/output/offer_recommendation_bootstrap.csv',index=False)

In [107]:
frame_production_100_samples_bootstrap.head(5)

      Customer ID  Month     offers
0  uqdtniwvxqzeu1      7  [E, J, F]
0  uqdtniwvxqzeu1      9  [F, J, E]
0  uqdtniwvxqzeu1     10  [J, E, F]
0  uqdtniwvxqzeu1     11  [F, J, E]
0  uqdtniwvxqzeu1     12  [C, F, I]

## **Questions**


How would you validate this approach?
- You ideally could design a test where, for some control group, you offer a random offer (or use whatever method is used today). For some treatment, you use your model to assign the offer. You could then measure retention of these two groups;

- Another option would be to train this model on part of the training set, and use another part of the training set to test it. You could check if you have recommended a 'winning offer', where 'winning' = an offer where that was taken by the customer and avoided churn in the next month

## **Conclusion**

In this project we used a simple yet effective unsupervised model to provide offers to customers.

A collaborative offer recommendation system can be a valuable tool for telecom companies to increase customer satisfaction and revenue. By using data on customer behavior and preferences, the system can provide personalized offers that are more likely to be accepted by customers.

To implement such a system, several steps need to be taken, including collecting and cleaning data, creating customer profiles, selecting appropriate distance functions, and validating the system's performance. It is also essential to consider ethical considerations related to data privacy and security.

Overall, a collaborative offer recommendation system can be a powerful tool for telecom companies to enhance their marketing strategies and provide better services to their customers. However, it is important to continuously evaluate and update the system to ensure its effectiveness and address any potential issues.


In conclusion, a successful data science project requires a clear understanding of the business problem and the data available, as well as the ability to select and apply appropriate data preprocessing techniques, feature engineering methods, and machine learning algorithms. It is also important to assess and optimize the performance of the model and communicate the results effectively to stakeholders.

## **Questions to know how to answer**

### **Collaborative Filtering:**

* What is collaborative filtering and how does it work?
* Can you explain the difference between user-based and item-based collaborative filtering?
* Can you give an example of how collaborative filtering is used in real-world applications?

### **Distance Measures:**

* What are distance measures and why are they important in data science?
* Can you explain the difference between Euclidean distance and Manhattan distance?


### **Code Implementation:**

* Can you walk me through the code for the get_recommended_offers function?
* How does the find_similar_customers_multiple function work?
* Can you explain the purpose of the production_model function and how it uses the get_recommended_offers function?
* How would you modify these functions to handle larger datasets or improve their performance?